/*
variable이랑 비슷한 개념이긴 한데,
변수는 하나의 값만 담는 것이라고 한다면
mixin은 모든 것을 담을 수 있음.

css에서 자주 사용할 것 같은 코드들이 있다면
mixin으로 만들어놓고 세팅해두면
나중에 반복적으로 사용할 수 있음.
*/

@mixin test {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

// mixin을 이용해서 하위 floating 요소를 clear(해제)하는 방법 (float, clear 개념은 검색하면 나옴...)
@mixin clear {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

div {
  border: 3px solid blue;
  @include clear; // mixin을 include 할 때 괄호는 생략해도 됨.
}

p {
  float: left;
  @include test();
}
