/*
variable이랑 비슷한 개념이긴 한데,
변수는 하나의 값만 담는 것이라고 한다면
mixin은 모든 것을 담을 수 있음.

css에서 자주 사용할 것 같은 코드들이 있다면
mixin으로 만들어놓고 세팅해두면
나중에 반복적으로 사용할 수 있음.

또한 매개변수와 결합하여 사용함으로써
마치 함수 구조처럼 인자를 받아서 
해당 값을 속성값으로 부여하는 것도 가능함.

이 때, 매개변수는 일반 변수와 마찬가지로 '$변수명' 이 구조로 쓰면 됨!
게다가 이 매개변수는 여러 개 넣을수도 있음.
*/

@mixin box($w, $h) {
  // mixin에서는 여러 개의 매개변수를 전달받아서 속성값에 넣어줄 수 있음.
  width: $w;
  height: $h;
}

div {
  @include box(
    50px,
    100px
  ); // 매개변수 자리에 값을 넣어줄 때 단위(px이던 %던)도 반드시 써줘야 함.
  border: 1px solid blue;
}
