/*
variable이랑 비슷한 개념이긴 한데,
변수는 하나의 값만 담는 것이라고 한다면
mixin은 모든 것을 담을 수 있음.
*/

@mixin test {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

div {
  // 이렇게 하면 위에서 정의한 test라는 이름의 mixin이 div의 스타일시트에 적용이 된 것임.
  // 이런 식으로 css 값을 바로 넣어주지 않고, 미리 저장해 둔 값들을 불러오는 것이 mixin & include
  // 반복되는 코드 옵션들을 써야 하는 상황이 생길 때 주로 사용함.
  @include test;
}
